body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* navbar start */
nav{
    padding: 15px 50px;
    background: rgb(240, 240, 240);
}
nav ul{
    overflow: hidden;
    list-style: none;
}
nav ul li{
    float: right;
    margin-left: 15px;
}
nav ul li a{
    text-decoration: none;
    color: gray;
    padding: 15px;
    font-weight: bold;
}
/* navbar end */

/* Home section start */
section{
    overflow: hidden;
    width: 100%;
    padding-top: 70px;
}
section .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section .half-width h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    color: lightseagreen;
}
section .half-width p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
section .half-width a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 30px;
    text-decoration: none;
    background: linear-gradient(45deg, #fd79a8, #e84393);
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
}
section .half-width .ncolor{
    color: orange;
}
section .half-width img{
    width: 100%;

}
/* Home section end */

/* Home2 section start */
.home2 .half-width h2{
    font-size: 40px;
    color: coral;
    text-transform: uppercase;
}
.home2 .half-width a{
    background: linear-gradient(45deg, #fd79a8, #e84393);
}
.home2 .half-width a i{
    margin-right: 10px;
}
/* Home2 section end */

/* projects section start */
.projects{
    background: linear-gradient(#fff, lightgoldenrodyellow);
}
.projects h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
}
.projects h1 .project-color{
    color: orange;
}
.projects table tr{
    width: 100%;
    margin-left: 75px;
    display: block;
    padding-top: 30px;
    padding-bottom: 100px;
}
.projects table tr td{
    width: 22%;
    margin: 0px 2%;
    padding: 20px;
    display: inline-block;
    box-shadow: 0px 0px 50px lightgreen;
    border-radius: 8px;
    text-align: center;
    border-bottom: 7px solid orange;
}
.projects table tr td img{
    width: 100%;
}
.projects table tr td h2{
    font-size: 20px;
}
/* projects section end */

/* inquery part start */
.inquery{
    height: 300px;
}
.inquery .image-part{
    background: url(../img/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
    height: 214px;
}
.inquery .image-part h1{
    display: inline;
    float: left;
    font-size: 40px;
    color: #fff;
    margin-left: 45px;
    padding-top: 45px;
    text-transform: uppercase;
}
.inquery .image-part a{
    float: right;
    text-decoration: none;
    background: coral;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 80px 50px 0 0;
    text-transform: capitalize;
}
/* inquery part end */

/* last part start */
.last-part{
    text-align: center;
}
.last-part h3{
    color: gray;
}
.last-part h2{
    font-size: 40px;
}
.last-part h2 .com-color{
    color: orange;
}
.last-part ul{
    list-style: none;
    overflow: hidden;
    margin-left: 38%;
}
.last-part ul li{
    float: left;
    margin-left: 20px;
}
.last-part ul li img{
    width: 50px;
}

/* last part end */