body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* navbar start */
nav{
    padding: 15px 50px;
    background: rgb(240, 240, 240);
}
nav ul{
    overflow: hidden;
    list-style: none;
}
nav ul li{
    float: right;
    margin-left: 15px;
}
nav ul li a{
    text-decoration: none;
    color: gray;
    padding: 15px;
    font-weight: bold;
}
/* navbar end */

/* Home section start */
section{
    overflow: hidden;
    width: 100%;
    padding-top: 70px;
}
section .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section .half-width h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    color: lightseagreen;
}
section .half-width p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
section .half-width a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 30px;
    text-decoration: none;
    background: linear-gradient(45deg, #fd79a8, #e84393);
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
}
section .half-width .ncolor{
    color: orange;
}
section .half-width img{
    width: 100%;

}
/* Home section end */

/* Home2 section start */
.home2 .half-width h2{
    font-size: 40px;
    color: coral;
    text-transform: uppercase;
}
.home2 .half-width a{
    background: linear-gradient(45deg, #fd79a8, #e84393);
}
.home2 .half-width a i{
    margin-right: 10px;
}
/* Home2 section end */